#PRINT n-gram

In [2]:
from nltk import ngrams
sentence = 'I reside in Bhopal'
n = 1
unigrams = ngrams(sentence.split(), n)
for item in unigrams:
    print(item)

('I',)
('reside',)
('in',)
('Bhopal',)

#PRINT all n-grams

In [3]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [5]:
from nltk.util import ngrams
sampleText = 'This is a very good time to Study NLP'
for i in range (1,4):
  NGRAMS = ngrams(sequence=nltk.word_tokenize(sampleText), n=i)
  for grams in NGRAMS:
    print(grams)

('This',)
('is',)
('a',)
('very',)
('good',)
('time',)
('to',)
('Study',)
('NLP',)
('This', 'is')
('is', 'a')
('a', 'very')
('very', 'good')
('good', 'time')
('time', 'to')
('to', 'Study')
('Study', 'NLP')
('This', 'is', 'a')
('is', 'a', 'very')
('a', 'very', 'good')
('very', 'good', 'time')
('good', 'time', 'to')
('time', 'to', 'Study')
('to', 'Study', 'NLP')

#Program to count bi-grams

In [7]:
from nltk import ngrams
sentence = 'I reside in Bhopal'
n = 1
unigrams = ngrams(sentence.split(), 3)
for item in unigrams:
    print(item)

('I', 'reside', 'in')
('reside', 'in', 'Bhopal')

In [8]:
import pandas as pd
bigram = pd.Series(nltk.ngrams(sentence.split(),2))

bigram_counts  = bigram.value_counts()
bigram_counts

(I, reside)     1
(reside, in)    1
(in, Bhopal)    1
Name: count, dtype: int64